<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Edit</title>
    <link rel ="stylesheet" type = "text/css" href = "{{ url_for('static',filename = 'css/style.css') }}">
</head>
<body>
    <h1>Profile Edit Page</h1>
    <form action="">
        <label>Username: <input type="text" name="username" value = "Test"></label>
        <label>Color: <input type="color" name="color" class = "color" value = "#ADD8E6"></label>
        <label>Password: <input type="password" name="password" value = "Test"></label>
        <label>Cofirm Password <input type="password" name="confirm_password" value = "Test"></label>
        <button class = "editbtn">Submit</button>
    </form>
</body>
</html>